.App {
  text-align: center;
}
.card__container{
  max-width: 800px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.form__container{
  background: #25202d;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  border-radius: 30px;
  margin-bottom: 30px;
}

.form__title{
  color: #fff;
  font-size: 20px;
  padding:0 10px;
}
.form__button{
  padding: 5px 30px;
  font-size: 15px;
  margin: 0 0 0 15px;
  background: #0a8e27;
  color: #fff;
  border-radius: 30px;
  border-color: #0a8e27;
  box-shadow: none;
  
}

.timer{
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}